@import "./theme.css";
@import 'modern-normalize/modern-normalize.css';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, #root {
  min-height: 100vh;
}

.show {
  display: block !important;
}

.hidden {
  display: none !important;
}
