:root {
  /* For now using Material Colors */
  /* Blue Grey */
  --blueGrey50: #eceff1;
  --blueGrey100: #cfd8dc;
  --blueGrey200: #b0bec5;
  --blueGrey300: #90a4ae;
  --blueGrey400: #78909c;
  --blueGrey500: #607d8b;
  --blueGrey600: #546e7a;
  --blueGrey700: #455a64;
  --blueGrey800: #37474f;
  --blueGrey900: #263238;
  --blueGrey900_rgb: 38,50,56;
  --blueGreyA100: #cfd8dc;
  --blueGreyA200: #b0bec5;
  --blueGreyA400: #78909c;
  --blueGreyA700: #455a64;
  /* Grey */
  --grey50: #fafafa;
  --grey100: #f5f5f5;
  --grey200: #eeeeee;
  --grey300: #e0e0e0;
  --grey400: #bdbdbd;
  --grey500: #9e9e9e;
  --grey600: #757575;
  --grey700: #616161;
  --grey800: #424242;
  --grey900: #212121;
  --greyA100: #d5d5d5;
  --greyA200: #aaaaaa;
  --greyA400: #303030;
  --greyA700: #616161;
  /* Blue */
  --blue50: #e3f2fd;
  --blue100: #bbdefb;
  --blue200: #90caf9;
  --blue300: #64b5f6;
  --blue400: #42a5f5;
  --blue500: #2196f3;
  --blue600: #1e88e5;
  --blue700: #1976d2;
  --blue800: #1565c0;
  --blue900: #0d47a1;
  --blueA100: #82b1ff;
  --blueA200: #448aff;
  --blueA400: #2979ff;
  --blueA700: #2962ff;
  /* Deep Purple */
  --deepPurple50: #ede7f6;
  --deepPurple100: #d1c4e9;
  --deepPurple200: #b39ddb;
  --deepPurple300: #9575cd;
  --deepPurple400: #7e57c2;
  --deepPurple500: #673ab7;
  --deepPurple600: #5e35b1;
  --deepPurple700: #512da8;
  --deepPurple800: #4527a0;
  --deepPurple900: #311b92;
  --deepPurpleA100: #b388ff;
  --deepPurpleA200: #7c4dff;
  --deepPurpleA400: #651fff;
  --deepPurpleA700: #6200ea;
}
