.root {
  position: relative;
}

.listWrapper {
  position: absolute;
  display: none;
  width: 100%;
  z-index: 1;
  padding-bottom: 2rem;
  overflow: hidden;
}

.list {
  position: relative;
  width: 100%;
  font-size: 0.875rem;
  border-radius: 4px;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid var(--grey300);
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -10px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  overflow: auto;
  height: 100%;
}

.item {
  padding: var(--input-pad-x) var(--input-pad-x);
  cursor: pointer;

  & + & {
    border-top: 1px solid var(--grey300);
  }

  &:hover, &:focus, &:active {
    background-color: var(--blueGrey50);
  }

  &.active {
    background-color: var(--blueGrey100);
  }
}

.itemContent {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.wardNo {
  flex: 0 0 auto;
  width: 40px;
  color: var(--blueGrey300);
  > * {
    border-radius: 2px;
    padding: 2px 4px;
    border: 1px solid var(--blueGrey50);
    background-color: var(--grey50);
  }
}

.content {
  flex: 1;
  padding: 0 1rem;
  font-weight: bold;
  color: var(--blueGrey700);
}
